gcp_project = "YOUR_GCP_PROJECT"
dns-zone-name="DNS_ZONER_NAME"
subdomain="SUBDOMAIN.DOMAIN.COM"
redis_cloud_account_key = "ACCOUNT_KEY"
redis_cloud_api_key = "API_KEY"
sub_name = "SUBSCRIPTION_NAME"
subscription_id="SUBSCRIPTION_ID"
db_name = "DATABASE_NAME"
gcloud_username="USER.NAME"
gcloud_region = "REGION"
gcloud_zone = "REGION-ZONE"
ssh_key_file="PATH_TO_PRIVATE_KEY"
redis_db_primary_fqdn="INTERNAL.REDISCLOUDDOMAIN.COM"
top_level_domain="TOPLEVELDOMAIN"