aws_region = ""
aws_account_id = ""
aws_ami_id = ""
aws_key_name = ""
dns_zone_id=""
subdomain = ""
redis_fqdn = ""
vpc_name = ""
subnet_name = ""
aws_security_group_name = ""
ssh_private_key = ""
extension_version = ""
dynatrace_api_token    = ""
custom_ca_pem          = ""
developer_pem          = ""
tenant_id              = ""